<configuration>
    <runtime>
        <assemblyBinding xmlns="urn::schemas-microsoft-com:asm.v1"/>
        <appDomainManagerAssembly value="{{ managerAssemblyFullName }}"/>
        <appDomainManagerType value="{{ managerType }}"/>
        <etwEnable enabled="{{ etwEnabled }}"/>
    </runtime>
</configuration>